header{
    .top-header{
        height: 20px;
        background-color: $primary_color;
    }
    .header-container{
        height: 180px;
        display: flex;
        flex-direction: row;
        .logo-header{
            max-width: 60px;
            max-height: 60px;
        }
        .header-list{
            display: flex;
            flex-direction: row;
            padding: 10px;
            li{
                margin: 20px;
            }
        }
    }
}