.info-container{
    height: 200px;
    background-color: $primary_color;
    .wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        .single-info{
            display: flex;
            align-items: center;
            img{
                max-width: 80px;
                max-height: 80px;
            }
        }
    }
    
}