.container-background{
    height: 400px;
    
    background-image:url(../images/footer-bg.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    overflow: hidden;
    .wrapper{
        display: flex;
        justify-content: space-between;
        .right{
            align-self: center;
            
            img{
                height: 500px;
                width: auto;
                
            }
        }
        .left{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 40%;
            div{
                width: calc(100% / 3);
                padding: 20px;
                text-align: left;
                
                h3{
                    color: white;
                    margin: 11px 0 12px 0;
                }
                a{
                    color: #546873;
                }
            }
                
                
        }
    }
    
}